extends layout 

block content

    h1= title

    form(method='POST' action='')
        div.form
            label(for='name') #[strong Category:]
            input#name(type='text',placeholder='Please enter a new category',name='category' value='')
            label(for='description') #[strong Description:]
            textarea#description(name='description' rows='7' cols='40')
        button(type='submit') Submit